.crudBody {
	text-align: center;
	background-color: antiquewhite;
	padding-top: 10px;
}
input {
	color: rgb(165, 99, 42);
	height: 30px;
	border-color: red;
	border-radius: 20px;
	text-align: center;
}
.heading {
	color: blue;
}

.input_btn {
	margin-left: 20px;
}
.col_setting {
	margin-left: 25%;
	margin-right: 25%;
}
.row_setting {
	margin-bottom: 20px;
}
.rowTotPrice {
	padding-left: 37%;
	color: blue;
	font-size: larger;
	font-weight: bold;
}
.top_row {
	color: blue;
	font-weight: bold;
}
.inputBlock{


	padding-top: 20px;
	padding-bottom: 10px;
}